﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WIP</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(document).ready(function () {
            $("#sidebar-open").on("click", function () {
                $("#fadescreen").fadeTo(100, 0.4);
                $("#sidebar").css("left", 0);
                $("#fadescreen").off();
            });
            $("#sidebar-close").on("click", function () {
                $("#fadescreen").fadeTo(100, 0);
                $("#sidebar").css("left", -300);
                window.setTimeout(function () {
                    $("#fadescreen").hide();
                }, 100);
                $("#fadescreen").on("click", function () {
                    $("#fadescreen").hide();
                });
            });
        });
    </script>
    <style>
        .slide-left {
            transition: left 0.1s linear;
            position: fixed;
            height: 100%;
            width: 300px;
            left: -300px;
            top: 0;
            background-color: #222222;
            z-index: 1000;
        }

        #sidebar a {
            margin-left: 14px;
            color: #9d9d9d;
            text-decoration: none;
            font-size: 18px;
        }

        body {
            margin: 0;
            font-family: "Segoe UI";
        }

        .linespace {
            margin:0;
            margin-bottom:7px;
            border: 0;
            border-top: 1px solid #eeeeee;
        }
    </style>
</head>

<body>
    <div class="slide-left" id="sidebar">
        <table width="100%">
            <tr style="height:50px;">
                <td>
                    <table width="100%">
                        <tr style="height:50px;">
                            <td>
                                <a asp-area="" asp-controller="Home" asp-action="Index">WIP</a>
                            </td>
                            <td width="100%"></td>
                            <td id="sidebar-close">
                                <i class="fa fa-chevron-circle-left fa-2x" style="position:relative; right:7px; color:#9d9d9d;"></i>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td width="100%"><hr class="linespace"/><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></td></tr>
            <tr><td width="100%"><hr class="linespace"/><a asp-area="" asp-controller="Home" asp-action="About">About</a></td></tr>
            <tr><td><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></td></tr>
        </table>
    </div>

    <nav style="background-color:#222222; position:fixed; left:0; top:0;">
        <table width="100%" height="50px">
            <tr>
                <td id="sidebar-open">
                    <i class="fa fa-chevron-circle-right fa-2x" style="margin-left:14px; color:#9d9d9d"></i>
                </td>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="margin-left:14px; color:#9d9d9d; text-decoration:none; font-size:18px;">WIP</a>
                </td>
                <td width="100%"></td>
            </tr>
        </table>
    </nav>

    <div class="ml7 mr7" style="margin-top:50px;">
        @RenderBody()
        <hr style="border: 0; border-top: 1px solid #eeeeee;" />
        <footer>
            <p>&copy; 2017 - WIP</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)

    <div style="position:fixed; height:100%; width:100%; background-color:black; display:none; z-index:100; top:0px;" id="fadescreen">

    </div>
</body>
</html>
