﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table width="100%">
        <tr>
            <td width="50%" height="100%">
               <ul style="overflow:scroll; overflow-x:hidden; height:500px; list-style:none; font-size:11px; background-color:#CCCCCC; padding:0; padding-left:7px;">
                   <li>527.849 Info UnparsedNetworkMessage.cpp:98: Message data: 06 00 82 2f 17 78 02 6e 9d 00</li>
                   <li>527.892 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>527.892 Info UnparsedNetworkMessage.cpp:98: Message data: 06 00 83 2f 17 78 02 6e 9d 00</li>
                   <li>527.913 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>527.913 Info UnparsedNetworkMessage.cpp:98: Message data: 26 00 84 2f 17 78 02 6e 9d 00</li>
                   <li>527.955 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>527.955 Info UnparsedNetworkMessage.cpp:98: Message data: 26 00 85 2f 17 78 02 6e 9d 00</li>
                   <li>527.998 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>527.998 Info UnparsedNetworkMessage.cpp:98: Message data: 06 00 86 2f 17 78 02 6e 9d 00</li>
                   <li>528.040 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>528.040 Info UnparsedNetworkMessage.cpp:98: Message data: 06 00 87 2f 17 78 02 6e 9d 00</li>
                   <li>528.083 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>528.083 Info UnparsedNetworkMessage.cpp:98: Message data: 06 00 88 2f 17 78 02 6e 9d 00</li>
                   <li>528.125 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>528.125 Info UnparsedNetworkMessage.cpp:98: Message data: 06 00 89 2f 17 78 02 6e 9d 00</li>
                   <li>528.168 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>528.168 Info UnparsedNetworkMessage.cpp:98: Message data: 26 00 8a 2f 17 78 02 6e 9d 00</li>
                   <li>528.210 Info UnparsedNetworkMessage.cpp:87: Invalid packet (type ClientToServerHeartbeat) received from 72.208.66.28:61914: heartbeat outside latency window</li>
                   <li>528.210 Info UnparsedNetworkMessage.cpp:98: Message data: 26 00 8b 2f 17 78 02 6e 9d 00</li>
                   <li>530.968 ConnectionRequestReplyConfirm (type(ConnectionRequestReplyConfirm) ) from(72.208.66.28:62644)</li>
                   <li>530.968 Info ServerRouter.cpp:393: Replying to connectionRequest for address(72.208.66.28:62644).</li>
                   <li>530.968 Info ServerSynchronizer.cpp:557: nextHeartbeatSequenceNumber(15273) adding peer(18)</li>
                   <li>530.991 Info ServerMultiplayerManager.cpp:693: mapTick(10317594) changing state from(InGame) to(InGameSavingMap)</li>
                   <li>531.160 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(18) oldState(Ready) newState(ConnectedWaitingForMap)</li>
                   <li>533.936 Info ServerMultiplayerManager.cpp:849: MapTick(10317594) Serving map(/var/www/factorio/server3/temp/mp-save-14.zip) for peer(18) size(58077213) crc(3266039249)</li>
                   <li>533.936 Info ServerMultiplayerManager.cpp:693: mapTick(10317594) changing state from(InGameSavingMap) to(InGame)</li>
                   <li>534.169 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(18) oldState(ConnectedWaitingForMap) newState(ConnectedDownloadingMap)</li>
                   <li>546.521 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(18) oldState(ConnectedDownloadingMap) newState(ConnectedLoadingMap)</li>
                   <li>557.202 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(18) oldState(ConnectedLoadingMap) newState(TryingToCatchUp)</li>
                   <li>557.202 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(18) oldState(TryingToCatchUp) newState(WaitingForCommandToStartSendingTickClosures)</li>
                   <li>557.456 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(18) oldState(WaitingForCommandToStartSendingTickClosures) newState(InGame)</li>
                   <li>2017-12-17 23:57:39 [JOIN] ZombieJesus18b5 joined the game</li>
                   <li>573.666 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(12) oldState(TryingToCatchUp) newState(WaitingForCommandToStartSendingTickClosures)</li>
                   <li>574.005 Info ServerMultiplayerManager.cpp:789: mapTick(10317594) received stateChanged peerID(12) oldState(WaitingForCommandToStartSendingTickClosures) newState(InGame)</li>
                   <li>2017-12-17 23:57:56 [JOIN] EmperorTrump joined the game</li>
                   <li>586.795 Info GameActionHandler.cpp:3341: MapTick (10317594) processed PlayerJoinGame peerID(18) playerIndex(372) mode(create )</li>
                   <li>586.796 Info GameActionHandler.cpp:3341: MapTick (10317594) processed PlayerJoinGame peerID(12) playerIndex(50) mode(connect )</li>
               </ul>
            </td>
            <td width="50%" height="100%">
                <ul style="overflow:scroll; overflow-x:hidden; height:500px; list-style:none; font-size:11px; background-color:#CCCCCC; padding:0; padding-left:7px;">
                    <li>2017-12-18 10:10:17 [CHAT] Plawerth: greens are often a bottleneck</li>
                    <li>2017-12-18 10:10:32 [CHAT] MINIMAN10000: oh sweet jesus</li>
                    <li>2017-12-18 10:10:55 [CHAT] MINIMAN10000: copper is literally fed directly into a massive factory to be immediately turned green wow</li>
                    <li>2017-12-18 10:11:03 [CHAT] ANTiGREMLiN: hehe yep</li>
                    <li>2017-12-18 10:12:00 [CHAT] MINIMAN10000: 11M copper...</li>
                    <li>2017-12-18 10:12:08 [CHAT] Plawerth: look to south, someone is making a dedicated green chip area</li>
                    <li>2017-12-18 10:12:10 [CHAT] MINIMAN10000: I wanna see that lol</li>
                    <li>2017-12-18 10:13:14 [CHAT] Plawerth: weirdly we still run steel furnaces, when there is dedicated electric now</li>
                    <li>2017-12-18 10:13:46 [CHAT] MINIMAN10000: anyone can tear things down the struggle is that means now you gotta build a replacement</li>
                    <li>2017-12-18 10:14:16 [CHAT] Plawerth: also it is a good idea to have the replacement done before tearing the original down</li>
                    <li>2017-12-18 10:14:43 [CHAT] ANTiGREMLiN: yeah, interupting it is the painful part</li>
                    <li>2017-12-18 10:14:45 [CHAT] MINIMAN10000: only if your fortunate enough to have a space zoned out for it but generally you just reuse the space</li>
                    <li>2017-12-18 10:15:54 [CHAT] ANTiGREMLiN: might be able to get away doing a column at a time</li>
                    <li>2017-12-18 10:16:48 [CHAT] MINIMAN10000: however again people wern't so kind as to make it easy, they didn't space furnaces to allow for inplace upgrades. the electric furnaces are larger</li>
                    <li>2017-12-18 10:17:08 [CHAT] ANTiGREMLiN: yeah, but starting from left side, you can work with that</li>
                    <li>2017-12-18 10:18:26 [CHAT] Plawerth: there is the new iron smelting with capacity to spare. send all the iron ore there, rip out steel furnaces, place a rail drop if not one already</li>
                    <li>2017-12-18 10:18:43 [CHAT] ANTiGREMLiN: where</li>
                    <li>2017-12-18 10:19:46 [CHAT] Plawerth: look to NW of where you are</li>
                    <li>2017-12-18 10:19:53 [CHAT] ANTiGREMLiN: yeah, just saw</li>
                    <li>2017-12-18 10:20:20 [CHAT] ANTiGREMLiN: bp available?</li>
                    <li>2017-12-18 10:20:54 [CHAT] Plawerth: oh, hmm, it's steel that isn't switched to electric</li>
                    <li>2017-12-18 10:21:06 [CHAT] Plawerth: no big outside steel area yet</li>
                    <li>2017-12-18 10:22:10 [CHAT] Plawerth: so, looks like plan for electric steel where you are standing Antigremlin</li>
                    <li>2017-12-18 10:22:32 [CHAT] ANTiGREMLiN: yeah, i'll set up something like iron below, but for steel is fine?</li>
                    <li>2017-12-18 10:23:15 [CHAT] Plawerth: I am not in charge, mainly just making comments</li>
                    <li>2017-12-18 10:23:30 [CHAT] ANTiGREMLiN: i'm still fairly new, so just wanting to make sure ;)</li>
                    <li>2017-12-18 10:23:39 [CHAT] MINIMAN10000: I have absolutely zero interest in dealing with furnaces for sure</li>
                    <li>2017-12-18 10:24:05 [CHAT] Plawerth: well if you're not sure, you could just leave it for whoever did the iron</li>
                    <li>2017-12-18 10:24:48 [CHAT] Plawerth: there is a need for remote resupply trains to distant roboports</li>
                    <li>2017-12-18 10:25:11 [CHAT] Leopard: I have some of that functionality already</li>
                    <li>2017-12-18 10:25:15 [CHAT] Plawerth: it is inefficient to stretch the logistics over 1000s of tiles,</li>
                    <li>2017-12-18 10:25:34 [CHAT] Plawerth: it is much better to send a train carrying repair kits, lasers, walls to supply depots</li>
                    <li>2017-12-18 10:25:36 [CHAT] Leopard: Above the in-base green circuits</li>
                    <li>2017-12-18 10:28:41 [CHAT] Leopard: It basicly onely needs a place to go to at this point</li>
                    <li>2017-12-18 10:31:40 [CHAT] Plawerth: I am not experienced with combinators. supply depots work best if the remote disables itself if it has enough supplies</li>
                    <li>2017-12-18 10:32:04 [CHAT] Plawerth: then the train visits any station in need of supplies automatically</li>
                    <li>2017-12-18 10:33:16 [CHAT] Leopard: I can handle that</li>
                    <li>2017-12-18 10:36:46 [CHAT] Plawerth: if you can make a blueprint for remote supply drops, I will place em</li>
                    <li>2017-12-18 10:36:57 [CHAT] Leopard: I'm on it</li>
                    <li>2017-12-18 10:37:19 [CHAT] Plawerth: we are soooo overextended, and all the remote roboports are manual restock</li>
                    <li>2017-12-18 10:44:11 [CHAT] Leopard: Plawerth check the game's blueprints</li>
                    <li>2017-12-18 10:45:05 [CHAT] Leopard: It's preconfigured to work with my trains (and the stuff they contain)</li>
                    <li>2017-12-18 10:46:20 [CHAT] Plawerth: is it too much to wish for a mk2 at this point?</li>
                    <li>2017-12-18 10:46:31 [CHAT] Plawerth: looks like we're not autocrafting em</li>
                    <li>2017-12-18 10:57:46 [CHAT] TealThanatos: what happened to the nuclear power</li>
                    <li>2017-12-18 10:57:51 [CHAT] TealThanatos: someone destoryed it</li>
                    <li>2017-12-18 10:57:56 [CHAT] ANTiGREMLiN: wah...?</li>
                    <li>2017-12-18 10:58:21 [CHAT] Plawerth: hmm someone griefed us</li>
                    <li>2017-12-18 10:58:30 [CHAT] ANTiGREMLiN: when did that happen</li>
                    <li>2017-12-18 10:58:45 [CHAT] Plawerth: in the last hour or so probably</li>
                    <li>2017-12-18 10:58:58 [CHAT] Plawerth: anyone with admin privs on?</li>
                    <li>2017-12-18 10:58:59 [CHAT] TealThanatos: recently, only just noticed the green icon flashing  up</li>
                    <li>2017-12-18 10:59:28 [CHAT] Leopard: I'm Admin, but what can I do about it at this point?</li>
                    <li>2017-12-18 10:59:53 [CHAT] ANTiGREMLiN: yeah, don't want to revert that far back....</li>
                    <li>2017-12-18 11:00:15 [CHAT] Plawerth: . /open kaghyunsoo</li>
                    <li>2017-12-18 11:00:29 [CHAT] Plawerth: er, missing an n there</li>
                    <li>2017-12-18 11:00:47 [CHAT] TealThanatos: how well do artillery trains wrok?</li>
                    <li>2017-12-18 11:00:51 [CHAT] Plawerth: . /open kanghyunsoo</li>
                    <li>2017-12-18 11:00:59 [CHAT] TealThanatos: I see we have one, but havne't seen it in action yet</li>
                    <li>2017-12-18 11:01:08 [CHAT] Plawerth: check for grenades, reactors etc</li>
                    <li>2017-12-18 11:01:51 [CHAT] Plawerth: also maybe check /open Markovnikov</li>
                    <li>2017-12-18 11:02:14 [CHAT] TealThanatos: what is then</li>
                    <li>2017-12-18 11:02:15 [CHAT] Leopard: Had a damaged reactor</li>
                    <li>2017-12-18 11:02:19 [CHAT] Plawerth: woohoo</li>
                    <li>2017-12-18 11:02:19 [CHAT] TealThanatos: damn</li>
                    <li>2017-12-18 11:03:29 [CHAT] Leopard: Markovnikov no remote, no grenades, no decon planner</li>
                    <li>2017-12-18 11:03:58 [CHAT] Plawerth: ok, I am just making suggestions</li>
                    <li>2017-12-18 11:04:25 [CHAT] Leopard: Suggestions always help</li>
                    <li>2017-12-18 11:05:12 [CHAT] Leopard: Reactor'll be fixed in a sec</li>
                    <li>2017-12-18 11:06:05 [CHAT] Plawerth: heh I should also probably have admin. I am on the other Marathon, but don't know if the privs carry to others</li>
                    <li>2017-12-18 11:06:52 [CHAT] Plawerth: *bow*</li>
                    <li>2017-12-18 11:08:33 [CHAT] Plawerth: The discord bot doesn't seem to log join/leave/ban messages. I wish it did. would make it easier to check for griefers</li>
                    <li>2017-12-18 11:08:40 [CHAT] ANTiGREMLiN: it used to</li>
                    <li>2017-12-18 11:08:51 [CHAT] Leopard: It's in the admin discore where I used the command</li>
                    <li>2017-12-18 11:12:33 [CHAT] Leopard: Reactor you are fixed now --> stop complaining!</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
