﻿.p7{
    padding:7px;
}

.pl7 {
    padding-left: 7px;
}

.pr7 {
    padding-right: 7px;
}

.pt7 {
    padding-top: 7px;
}

.pb7 {
    padding-bottom: 7px;
}

.m7 {
    margin: 7px;
}

.ml7 {
    margin-left: 7px;
}

.mr7 {
    margin-right: 7px;
}

.mt7 {
    margin-top: 7px;
}

.mb7 {
    margin-bottom: 7px;
}